{{ define "agentRow" }} {{ range .Agents }}
<tr class="fade-in">
  <td><input type="checkbox" class="checkbox" /></td>
  <td><strong>{{ .Matricule }}</strong></td>
  <td>{{ .Nom }}</td>
  <td>{{ .Prenoms }}</td>
  <td>{{ .Poste }}</td>
  <td>{{ .Agence }}</td>
  <td>{{ .Region }}</td>
  <td>{{ .Email }}</td>

  <td>
    <div class="actions">
      <button
        class="action-btn edit-btn"
        onclick="openModal('edit', '{{ .Nom }}', '{{ .Prenoms }}', '{{ .Poste }}', '{{ .Agence }}', '{{ .Region }}', '{{ .Email }}')"
      >
        <i class="fas fa-edit"></i>
      </button>
      <button
        class="action-btn delete-btn"
        hx-delete="/transaction/{{ .Matricule }}"
        hx-confirm="Êtes-vous sûr de vouloir supprimer cette transaction ?"
      >
        <i class="fas fa-trash"></i>
      </button>
    </div>
  </td>
</tr>
{{ end }} {{ end }}
